<!-- <section>
  <nav>
    <ul>
      <li class="nav-item"><a class="nav-link" href="#">Article1</a></li>
      <li class="nav-item"><a class="nav-link" href="#">AnotherStory</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Story3</a></li>
      <li class="nav-item"><a class="nav-link" href="#">ScealEile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">AbigStory</a></li>
    </ul>
  </nav>
</section> -->



<li class="has-sub"><a><span><i class="fa fa-fw fa-bars"></i> Menus</span></a>
        <ul style="display: none;">
           <li class="has-sub"><a href="#"><span>Menu 1</span></a></li>
           <li><a href="#"><span>Menu 2</span></a></li>
        </ul>
     </li>








<div id="cssmenu">
  <ul>
     <li class=""><a href="#" target="_blank"><span><i class="fa fa-fw fa-home"></i> Home</span></a></li>
     <li class="has-sub"><a><span><i class="fa fa-fw fa-bars"></i> Menus</span></a>
        <ul style="display: none;">
           <li class="has-sub"><a href="#"><span>Menu 1</span></a></li>
           <li><a href="#"><span>Menu 2</span></a></li>
        </ul>
     </li>
     <li><a href="#"><span><i class="fa fa-fw fa-cog"></i> Settings</span></a></li>
     <li><a href="#"><span><i class="fa fa-fw fa-phone"></i> Contact</span></a></li>
  </ul>
</div>
